---
import { options, currencies } fr@utils/calculator_settingsdata";
---

<script>
  import { getCurrenciesRates } from "@utils/api";

  const table = "A";
  const currencyData = await getCurrenciesRates(table);

  let convertedValue: number = 1;
  let isConvertedValueReceived: boolean = false;

  // Get Tax value function
  function getTaxValue(carValue: number, taxValue: number): number {
    if (!carValue || !taxValue) {
      return 0;
    }
    const tax = carValue * (taxValue / 100) * convertedValue;
    return parseFloat(tax.toFixed(2));
  }

  const priceInput: HTMLInputElement = document.getElementById("priceInput") as HTMLInputElement;
  const typeInput: HTMLInputElement = document.getElementById("typeInput") as HTMLInputElement;
  const currencyInput: HTMLSelectElement = document.getElementById("currencyInput") as HTMLSelectElement;
  const response: HTMLParagraphElement = document.getElementById("response-paragraph") as HTMLParagraphElement;

  currencyInput.options[0].selected = true;

  // Update Tax information
  const updateTax = () => {
    if (!isConvertedValueReceived) {
      return; // Exit early if convertedValue is not received yet
    }

    const carValue: number = parseFloat(priceInput.value) || 0;
    const carTaxValue: number = getTaxValue(carValue, parseFloat(typeInput.value));

    const carPrice: string = (carValue * convertedValue).toFixed(2) || "0";
    const technicalExamFee: string = "98.00";
    const documentTranslationFee: string = "250.00";
    const vehicleRegistrationFee: string = "161.50";
    const licensePlateFee: string = "80.00";
    const registrationCertificateFee: string = "54.00";
    const temporaryPermitFee: string = "26.00";
    const registrationFee: string = "1.50";
    const totalCost: string = "0";
  };

  // Update Currency with current rate
  const updateCurrency = async (currency: string) => {
    if (currency === "PLN") {
      convertedValue = 1;
      isConvertedValueReceived = true;
    } else {
      convertedValue = currencyData.find((item) => item.code == currency).mid;
      isConvertedValueReceived = true;
    }

    updateTax();
  };

  currencyInput?.addEventListener("change", () => updateCurrency(currencyInput.value));
  priceInput?.addEventListener("input", updateTax);
  typeInput?.addEventListener("change", updateTax);

  updateCurrency("PLN");
</script>

<astro-fragment class="container mx-auto py-8">
  <astro-form>
    <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/2 px-2 mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="priceInput">Wartość Pojazdu:</label>
        <div class="relative">
          <input class="appearance-none border rounded-l w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="priceInput" name="priceInput" type="number" required />
          <select class="absolute inset-y-0 right-0 border border-l-0 rounded-r bg-white text-gray-700 font-bold py-2 px-3 focus:outline-none cursor-pointer" id="currencyInput" name="currencyInput">
            {
              currencies.map((item) => {
                return (
                  <option class="cursor-pointer" value={item} selected={item === "PLN" ? true : false}>
                    {item}
                  </option>
                );
              })
            }
          </select>
        </div>
      </div>

      <div class="w-full md:w-1/2 px-2 mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="engineInput">Rodzaj Napędu:</label>
        <select class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="engineInput" name="engineInput">
          <option value="benzyna">Benzyna</option>
          <option value="diesel">Diesel</option>
          <option value="hybryda">Hybryda</option>
          <option value="elektryczny">Elektryczny</option>
        </select>
      </div>

      <div class="w-full md:w-1/2 px-2 mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="typeInput">Rodzaj Pojazdu:</label>
        <select class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="typeInput" name="typeInput">
          {
            options.map((item) => {
              return (
                <option value={item.value} data-description={item.description}>
                  {item.name}
                </option>
              );
            })
          }
        </select>
      </div>

      <div class="w-full px-2 mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Dodatkowe Parametry:</label>
        <div class="flex items-center mb-2">
          <input class="mr-2 leading-tight" type="checkbox" id="lpgCheckbox" name="lpgCheckbox" />
          <label class="text-gray-700 text-sm" for="lpgCheckbox">Instalacja LPG/CNG</label>
        </div>
        <div class="flex items-center mb-2">
          <input class="mr-2 leading-tight" type="checkbox" id="platesCheckbox" name="platesCheckbox" />
          <label class="text-gray-700 text-sm" for="platesCheckbox">Indywidualne Tablice Rejestracyjne</label>
        </div>
        <div class="flex items-center">
          <input class="mr-2 leading-tight" type="checkbox" id="accidentCheckbox" name="accidentCheckbox" />
          <label class="text-gray-700 text-sm" for="accidentCheckbox">Pojazd Powypadkowy/Kolizyjny</label>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <div class="relative">
        <div class="my-5 rounded-lg overflow-hidden">
          <div class="flex flex-col w-full bg-secondary p-4 text-center text-lg text-primary" style="background-color: #d3eaf2;">
            <h4>Całkowity koszt</h4>
            <span id="totalCost" class="font-semibold text-xl">0</span>
          </div>
          <div class="text-center bg-gray-100 w-full grid grid-cols-2 text-lg">
            <div class="p-4">
              <h4>Pojazd</h4>
              <span id="carCost" class="font-semibold">0</span>
            </div>
            <div class="p-4 bg-gray-200">
              <h4>Opłaty</h4>
              <span id="taxes" class="font-semibold">0</span>
            </div>
          </div>
        </div>
        <table class="mb-0">
          <thead>
            <tr>
              <th class="bg-white">Usługa</th>
              <th class="text-right bg-white">Cena</th>
            </tr>
          </thead>
          <tbody class="text-sm">
            <tr class="bg-blue-50" style="background-color: #e9f5f9;">
              <td>Cena auta</td>
              <td id="carPrice" class="text-right">0</td>
            </tr>
            <tr>
              <td>Akcyza</td>
              <td class="text-right">0</td>
            </tr>
            <tr class="bg-blue-50" style="background-color: #e9f5f9;">
              <td>Badanie techniczne</td>
              <td class="text-right">0</td>
            </tr>
            <tr>
              <td>Tłumaczenia dokumentów</td>
              <td class="text-right">0</td>
            </tr>
            <tr class="bg-blue-50" style="background-color: #e9f5f9;">
              <td>Rejestracja pojazdu</td>
              <td class="text-right">0</td>
            </tr>
            <tr>
              <td colspan="2" class="p-0 bg-blue-50 text-sm">
                <table class="border-none m-0">
                  <tbody class="bg-gray-50-">
                    <tr class="border-none">
                      <td> - Tablice rejestracyjne</td>
                      <td class="text-right"> 0</td>
                    </tr>
                    <tr class="border-none">
                      <td> - Dowód rejestracyjny</td>
                      <td class="text-right">0</td>
                    </tr>
                    <tr class="border-none">
                      <td> - Pozwolenie czasowe</td>
                      <td class="text-right">0</td>
                    </tr>
                    <tr class="border-none">
                      <td> - Opłata ewidencyjna</td>
                      <td class="text-right">0</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr style="background-color: #e9f5f9;">
              <td><strong>Suma</strong></td>
              <td class="text-right"><strong>0</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </astro-form>
</astro-fragment>
